* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: cursive;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.hero {
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/1388635225/photo/businessman-click-on-skills.jpg?s=1024x1024&w=is&k=20&c=Z-Kp6ew-wRJmuvYe9_CbAHbGX1zlLsRvdThLmNey2Io=');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 40px;
    color: rgb(190, 37, 37);
}

.cta-btn {
    display: inline-block;
    padding: 10px 25px;
    background-color: #ff6600;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #ff4500;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}
